In [1]:
import pandas as pd

#### Đọc dữ liệu ban đầu

In [2]:
raw_data = pd.read_csv('crawl_data.csv', keep_default_na=False)
# tạo bản copy để xử lý dữ liệu và ghi ra file
new_data = raw_data.copy()
new_data

,"Country,Other",Total Cases,New Cases,Total Deaths,New Death,Total Recovered,New Recovered,Active Case,Serious Critical,Tot Cases/1M pop,Death/1M pop,Total test,Test/1M pop,Population,Area,Date
0,China,"98,993",+96,"4,636",,"93,385",+30,972,10,69,3,"160,000,000","111,163","1,439,323,776",Asia,2021-12-03
1,USA,"49,878,049","+147,434","808,116","+1,353","39,463,245","+73,599","9,606,688","13,714","149,440","2,421","759,601,375","2,275,854","333,765,397",North America,2021-12-03
2,India,"34,624,360","+8,603","470,530",+415,"34,045,666","+8,612","108,164","8,944","24,744",336,"644,668,082","460,704","1,399,309,544",Asia,2021-12-03
3,Brazil,"22,129,409","+10,627","615,454",+229,"21,357,412","+5,907","156,543","8,318","103,067","2,866","63,776,166","297,034","214,709,861",South America,2021-12-03
4,UK,"10,378,256","+50,120","145,424",+143,"9,156,066","+29,938","1,076,766",895,"151,743","2,126","366,108,215","5,352,959","68,393,618",Europe,2021-12-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,Marshall Islands,4,,,,4,,0,,67,,,,"59,763",Australia/Oceania,2021-12-08
1340,Samoa,3,,,,3,,0,,15,,,,"200,305",Australia/Oceania,2021-12-08
1341,Saint Helena,2,,,,2,,0,,328,,,,"6,103",Africa,2021-12-08
1342,Micronesia,1,,,,1,,0,,9,,,,"116,752",Australia/Oceania,2021-12-08
1343,Tonga,1,,,,1,,0,,9,,,,"107,412",Australia/Oceania,2021-12-08

#### Xoá bỏ các khoảng trắng thừa trong các ô dữ liệu

In [3]:
for col in new_data:
    new_data[col] = new_data[col].str.strip()

#### Xoá bỏ các dòng có trường thông tin không được cung cấp (N/A)

In [4]:
row_list = new_data.values
for i, row in enumerate(row_list):
    if "N/A" in ''.join(row):
        new_data.drop([i], inplace=True)
new_data = new_data.reset_index(drop=True)

#### Xử lý các ô thuộc các cột dạng số liệu  bị thiếu bằng cách điền cho chúng giá trị 0

In [5]:
new_data = new_data.replace('', 0)

#### Xoá bỏ đi dấu ‘,’ trong các ô chứa số liệu để tránh bị nhầm lẫn khi chuyển đổi chúng về dạng numeric

In [6]:
for col in new_data:
    if col not in ["Country,Other", "Area", "Date"]:
        new_data[col] = new_data[col].replace({',':''}, regex=True)

#### Dữ liệu trong các cột có dạng số đều đang ở dạng chuỗi sau khi thu thập về do đó cần phải chuyển hết về numeric

In [7]:
for col in new_data:
    if col not in ["Country,Other", "Area", "Date"]:
        new_data[col] = pd.to_numeric(new_data[col])

#### Xoá bỏ các quốc gia có thuộc tính `Population` bằng `0`

In [8]:
for i, val in enumerate(new_data["Population"].values):
    if val == 0:
        new_data.drop([i], inplace=True)

#### Ghi dữ liệu của `new_data` vào file dữ liệu mới `new_data.csv`

In [9]:
new_data.to_csv("new_data.csv", sep=',', index=False, encoding='utf-8', mode='w')